# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
.venv*/
env/
venv/

# Machine Learning Checkpoints
checkpoints/
*.pth
*.pt
*.ckpt

# MacOS
.DS_Store

# Logs
logs/
*.log

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Environment Variables
.env
*.png

# Wheels Zip and Folders
CommunitySolutions/chronos_solver/v11/arc-agi-v11-wheels.zip
CommunitySolutions/chronos_solver/v11/wheels/
CommunitySolutions/chronos_solver/v11/wheels-bkup/



# ARC-AGI-3 community games (252 from github.com/theredbluepill/arc-interactive)
# Large + re-clonable; the official 25 stay tracked. Re-fetch with:
#   git clone --depth 1 https://github.com/theredbluepill/arc-interactive /tmp/arc-interactive
#   cp -Rn /tmp/arc-interactive/environment_files/* arc-prize-2026-arc-agi-3/environment_files/
arc-prize-2026-arc-agi-3/environment_files/ab01/
arc-prize-2026-arc-agi-3/environment_files/as01/
arc-prize-2026-arc-agi-3/environment_files/at01/
arc-prize-2026-arc-agi-3/environment_files/au01/
arc-prize-2026-arc-agi-3/environment_files/av01/
arc-prize-2026-arc-agi-3/environment_files/bd01/
arc-prize-2026-arc-agi-3/environment_files/bi01/
arc-prize-2026-arc-agi-3/environment_files/bl01/
arc-prize-2026-arc-agi-3/environment_files/bn01/
arc-prize-2026-arc-agi-3/environment_files/bn02/
arc-prize-2026-arc-agi-3/environment_files/bn03/
arc-prize-2026-arc-agi-3/environment_files/bn04/
arc-prize-2026-arc-agi-3/environment_files/bp01/
arc-prize-2026-arc-agi-3/environment_files/bt01/
arc-prize-2026-arc-agi-3/environment_files/cf01/
arc-prize-2026-arc-agi-3/environment_files/ci01/
arc-prize-2026-arc-agi-3/environment_files/ck02/
arc-prize-2026-arc-agi-3/environment_files/ck03/
arc-prize-2026-arc-agi-3/environment_files/ck04/
arc-prize-2026-arc-agi-3/environment_files/co01/
arc-prize-2026-arc-agi-3/environment_files/cq01/
arc-prize-2026-arc-agi-3/environment_files/cr01/
arc-prize-2026-arc-agi-3/environment_files/cs01/
arc-prize-2026-arc-agi-3/environment_files/ct01/
arc-prize-2026-arc-agi-3/environment_files/cu01/
arc-prize-2026-arc-agi-3/environment_files/cv01/
arc-prize-2026-arc-agi-3/environment_files/cw01/
arc-prize-2026-arc-agi-3/environment_files/cx01/
arc-prize-2026-arc-agi-3/environment_files/cy01/
arc-prize-2026-arc-agi-3/environment_files/cz01/
arc-prize-2026-arc-agi-3/environment_files/dd01/
arc-prize-2026-arc-agi-3/environment_files/df01/
arc-prize-2026-arc-agi-3/environment_files/df04/
arc-prize-2026-arc-agi-3/environment_files/dg01/
arc-prize-2026-arc-agi-3/environment_files/dl01/
arc-prize-2026-arc-agi-3/environment_files/dm01/
arc-prize-2026-arc-agi-3/environment_files/dm04/
arc-prize-2026-arc-agi-3/environment_files/dn01/
arc-prize-2026-arc-agi-3/environment_files/dp01/
arc-prize-2026-arc-agi-3/environment_files/dr01/
arc-prize-2026-arc-agi-3/environment_files/dt01/
arc-prize-2026-arc-agi-3/environment_files/dv01/
arc-prize-2026-arc-agi-3/environment_files/eb01/
arc-prize-2026-arc-agi-3/environment_files/ec01/
arc-prize-2026-arc-agi-3/environment_files/eg01/
arc-prize-2026-arc-agi-3/environment_files/em01/
arc-prize-2026-arc-agi-3/environment_files/ep01/
arc-prize-2026-arc-agi-3/environment_files/es01/
arc-prize-2026-arc-agi-3/environment_files/ex01/
arc-prize-2026-arc-agi-3/environment_files/ex02/
arc-prize-2026-arc-agi-3/environment_files/ex03/
arc-prize-2026-arc-agi-3/environment_files/ez01/
arc-prize-2026-arc-agi-3/environment_files/ez02/
arc-prize-2026-arc-agi-3/environment_files/ez03/
arc-prize-2026-arc-agi-3/environment_files/ez04/
arc-prize-2026-arc-agi-3/environment_files/fb01/
arc-prize-2026-arc-agi-3/environment_files/fc01/
arc-prize-2026-arc-agi-3/environment_files/fe02/
arc-prize-2026-arc-agi-3/environment_files/ff01/
arc-prize-2026-arc-agi-3/environment_files/ff02/
arc-prize-2026-arc-agi-3/environment_files/ff03/
arc-prize-2026-arc-agi-3/environment_files/ff04/
arc-prize-2026-arc-agi-3/environment_files/fg01/
arc-prize-2026-arc-agi-3/environment_files/fi01/
arc-prize-2026-arc-agi-3/environment_files/fl01/
arc-prize-2026-arc-agi-3/environment_files/fl04/
arc-prize-2026-arc-agi-3/environment_files/fs01/
arc-prize-2026-arc-agi-3/environment_files/fs02/
arc-prize-2026-arc-agi-3/environment_files/fs03/
arc-prize-2026-arc-agi-3/environment_files/ft09/
arc-prize-2026-arc-agi-3/environment_files/fw01/
arc-prize-2026-arc-agi-3/environment_files/gc01/
arc-prize-2026-arc-agi-3/environment_files/gl01/
arc-prize-2026-arc-agi-3/environment_files/gp01/
arc-prize-2026-arc-agi-3/environment_files/gp02/
arc-prize-2026-arc-agi-3/environment_files/gp03/
arc-prize-2026-arc-agi-3/environment_files/gp04/
arc-prize-2026-arc-agi-3/environment_files/gr01/
arc-prize-2026-arc-agi-3/environment_files/hd01/
arc-prize-2026-arc-agi-3/environment_files/hm01/
arc-prize-2026-arc-agi-3/environment_files/hn01/
arc-prize-2026-arc-agi-3/environment_files/hn04/
arc-prize-2026-arc-agi-3/environment_files/hs01/
arc-prize-2026-arc-agi-3/environment_files/hz01/
arc-prize-2026-arc-agi-3/environment_files/ic01/
arc-prize-2026-arc-agi-3/environment_files/ic02/
arc-prize-2026-arc-agi-3/environment_files/ic03/
arc-prize-2026-arc-agi-3/environment_files/ih01/
arc-prize-2026-arc-agi-3/environment_files/in01/
arc-prize-2026-arc-agi-3/environment_files/ju01/
arc-prize-2026-arc-agi-3/environment_files/jw01/
arc-prize-2026-arc-agi-3/environment_files/kb01/
arc-prize-2026-arc-agi-3/environment_files/kn01/
arc-prize-2026-arc-agi-3/environment_files/kv01/
arc-prize-2026-arc-agi-3/environment_files/kv04/
arc-prize-2026-arc-agi-3/environment_files/lf01/
arc-prize-2026-arc-agi-3/environment_files/lk01/
arc-prize-2026-arc-agi-3/environment_files/ll01/
arc-prize-2026-arc-agi-3/environment_files/ll04/
arc-prize-2026-arc-agi-3/environment_files/lo01/
arc-prize-2026-arc-agi-3/environment_files/lo02/
arc-prize-2026-arc-agi-3/environment_files/lo03/
arc-prize-2026-arc-agi-3/environment_files/lo04/
arc-prize-2026-arc-agi-3/environment_files/lo05/
arc-prize-2026-arc-agi-3/environment_files/lp01/
arc-prize-2026-arc-agi-3/environment_files/ls20/
arc-prize-2026-arc-agi-3/environment_files/lw01/
arc-prize-2026-arc-agi-3/environment_files/lw02/
arc-prize-2026-arc-agi-3/environment_files/lw03/
arc-prize-2026-arc-agi-3/environment_files/lw04/
arc-prize-2026-arc-agi-3/environment_files/mb01/
arc-prize-2026-arc-agi-3/environment_files/mc01/
arc-prize-2026-arc-agi-3/environment_files/ml01/
arc-prize-2026-arc-agi-3/environment_files/ml02/
arc-prize-2026-arc-agi-3/environment_files/ml03/
arc-prize-2026-arc-agi-3/environment_files/ml04/
arc-prize-2026-arc-agi-3/environment_files/mm01/
arc-prize-2026-arc-agi-3/environment_files/mm02/
arc-prize-2026-arc-agi-3/environment_files/mm03/
arc-prize-2026-arc-agi-3/environment_files/mm04/
arc-prize-2026-arc-agi-3/environment_files/mm05/
arc-prize-2026-arc-agi-3/environment_files/mo01/
arc-prize-2026-arc-agi-3/environment_files/ms01/
arc-prize-2026-arc-agi-3/environment_files/ms02/
arc-prize-2026-arc-agi-3/environment_files/ms03/
arc-prize-2026-arc-agi-3/environment_files/ms04/
arc-prize-2026-arc-agi-3/environment_files/mx01/
arc-prize-2026-arc-agi-3/environment_files/ng01/
arc-prize-2026-arc-agi-3/environment_files/ng04/
arc-prize-2026-arc-agi-3/environment_files/nu01/
arc-prize-2026-arc-agi-3/environment_files/nw01/
arc-prize-2026-arc-agi-3/environment_files/nw02/
arc-prize-2026-arc-agi-3/environment_files/nw03/
arc-prize-2026-arc-agi-3/environment_files/ob01/
arc-prize-2026-arc-agi-3/environment_files/op01/
arc-prize-2026-arc-agi-3/environment_files/or01/
arc-prize-2026-arc-agi-3/environment_files/ox01/
arc-prize-2026-arc-agi-3/environment_files/pb01/
arc-prize-2026-arc-agi-3/environment_files/pb02/
arc-prize-2026-arc-agi-3/environment_files/pb03/
arc-prize-2026-arc-agi-3/environment_files/pb04/
arc-prize-2026-arc-agi-3/environment_files/pd01/
arc-prize-2026-arc-agi-3/environment_files/pd04/
arc-prize-2026-arc-agi-3/environment_files/ph01/
arc-prize-2026-arc-agi-3/environment_files/ph02/
arc-prize-2026-arc-agi-3/environment_files/ph03/
arc-prize-2026-arc-agi-3/environment_files/ph04/
arc-prize-2026-arc-agi-3/environment_files/pj01/
arc-prize-2026-arc-agi-3/environment_files/pj04/
arc-prize-2026-arc-agi-3/environment_files/pk01/
arc-prize-2026-arc-agi-3/environment_files/pk02/
arc-prize-2026-arc-agi-3/environment_files/pm01/
arc-prize-2026-arc-agi-3/environment_files/pt01/
arc-prize-2026-arc-agi-3/environment_files/pt02/
arc-prize-2026-arc-agi-3/environment_files/pt03/
arc-prize-2026-arc-agi-3/environment_files/pt04/
arc-prize-2026-arc-agi-3/environment_files/pt05/
arc-prize-2026-arc-agi-3/environment_files/pu01/
arc-prize-2026-arc-agi-3/environment_files/pu04/
arc-prize-2026-arc-agi-3/environment_files/pw01/
arc-prize-2026-arc-agi-3/environment_files/qr01/
arc-prize-2026-arc-agi-3/environment_files/qr04/
arc-prize-2026-arc-agi-3/environment_files/qt01/
arc-prize-2026-arc-agi-3/environment_files/rb01/
arc-prize-2026-arc-agi-3/environment_files/rc01/
arc-prize-2026-arc-agi-3/environment_files/rf01/
arc-prize-2026-arc-agi-3/environment_files/rh01/
arc-prize-2026-arc-agi-3/environment_files/rk01/
arc-prize-2026-arc-agi-3/environment_files/rn01/
arc-prize-2026-arc-agi-3/environment_files/rp01/
arc-prize-2026-arc-agi-3/environment_files/rp02/
arc-prize-2026-arc-agi-3/environment_files/rp03/
arc-prize-2026-arc-agi-3/environment_files/rp04/
arc-prize-2026-arc-agi-3/environment_files/rr01/
arc-prize-2026-arc-agi-3/environment_files/rs01/
arc-prize-2026-arc-agi-3/environment_files/rs02/
arc-prize-2026-arc-agi-3/environment_files/rs03/
arc-prize-2026-arc-agi-3/environment_files/rs04/
arc-prize-2026-arc-agi-3/environment_files/rv01/
arc-prize-2026-arc-agi-3/environment_files/rz01/
arc-prize-2026-arc-agi-3/environment_files/sb01/
arc-prize-2026-arc-agi-3/environment_files/sc01/
arc-prize-2026-arc-agi-3/environment_files/sf01/
arc-prize-2026-arc-agi-3/environment_files/sf04/
arc-prize-2026-arc-agi-3/environment_files/sg01/
arc-prize-2026-arc-agi-3/environment_files/sg04/
arc-prize-2026-arc-agi-3/environment_files/sk01/
arc-prize-2026-arc-agi-3/environment_files/sk02/
arc-prize-2026-arc-agi-3/environment_files/sk03/
arc-prize-2026-arc-agi-3/environment_files/sk04/
arc-prize-2026-arc-agi-3/environment_files/sl01/
arc-prize-2026-arc-agi-3/environment_files/sn01/
arc-prize-2026-arc-agi-3/environment_files/sp01/
arc-prize-2026-arc-agi-3/environment_files/sp04/
arc-prize-2026-arc-agi-3/environment_files/sq01/
arc-prize-2026-arc-agi-3/environment_files/sq02/
arc-prize-2026-arc-agi-3/environment_files/sq03/
arc-prize-2026-arc-agi-3/environment_files/sq04/
arc-prize-2026-arc-agi-3/environment_files/sq05/
arc-prize-2026-arc-agi-3/environment_files/sr01/
arc-prize-2026-arc-agi-3/environment_files/st01/
arc-prize-2026-arc-agi-3/environment_files/sv01/
arc-prize-2026-arc-agi-3/environment_files/sv02/
arc-prize-2026-arc-agi-3/environment_files/sv03/
arc-prize-2026-arc-agi-3/environment_files/sw01/
arc-prize-2026-arc-agi-3/environment_files/sy01/
arc-prize-2026-arc-agi-3/environment_files/sy02/
arc-prize-2026-arc-agi-3/environment_files/sy03/
arc-prize-2026-arc-agi-3/environment_files/sy04/
arc-prize-2026-arc-agi-3/environment_files/tb01/
arc-prize-2026-arc-agi-3/environment_files/tb02/
arc-prize-2026-arc-agi-3/environment_files/tb03/
arc-prize-2026-arc-agi-3/environment_files/tc01/
arc-prize-2026-arc-agi-3/environment_files/tc04/
arc-prize-2026-arc-agi-3/environment_files/tf01/
arc-prize-2026-arc-agi-3/environment_files/tg01/
arc-prize-2026-arc-agi-3/environment_files/tk01/
arc-prize-2026-arc-agi-3/environment_files/tm01/
arc-prize-2026-arc-agi-3/environment_files/tp01/
arc-prize-2026-arc-agi-3/environment_files/tp02/
arc-prize-2026-arc-agi-3/environment_files/tp03/
arc-prize-2026-arc-agi-3/environment_files/tr01/
arc-prize-2026-arc-agi-3/environment_files/tt01/
arc-prize-2026-arc-agi-3/environment_files/tt02/
arc-prize-2026-arc-agi-3/environment_files/tt03/
arc-prize-2026-arc-agi-3/environment_files/tw01/
arc-prize-2026-arc-agi-3/environment_files/ul01/
arc-prize-2026-arc-agi-3/environment_files/ul02/
arc-prize-2026-arc-agi-3/environment_files/ul03/
arc-prize-2026-arc-agi-3/environment_files/va01/
arc-prize-2026-arc-agi-3/environment_files/va02/
arc-prize-2026-arc-agi-3/environment_files/va03/
arc-prize-2026-arc-agi-3/environment_files/vc33/
arc-prize-2026-arc-agi-3/environment_files/vi01/
arc-prize-2026-arc-agi-3/environment_files/vp01/
arc-prize-2026-arc-agi-3/environment_files/vt01/
arc-prize-2026-arc-agi-3/environment_files/wa01/
arc-prize-2026-arc-agi-3/environment_files/wb01/
arc-prize-2026-arc-agi-3/environment_files/wg01/
arc-prize-2026-arc-agi-3/environment_files/wk01/
arc-prize-2026-arc-agi-3/environment_files/wl01/
arc-prize-2026-arc-agi-3/environment_files/wm01/
arc-prize-2026-arc-agi-3/environment_files/wm02/
arc-prize-2026-arc-agi-3/environment_files/wm03/
arc-prize-2026-arc-agi-3/environment_files/wm04/
arc-prize-2026-arc-agi-3/environment_files/wp01/
arc-prize-2026-arc-agi-3/environment_files/wr01/
arc-prize-2026-arc-agi-3/environment_files/zm01/
arc-prize-2026-arc-agi-3/environment_files/zm04/
arc-prize-2026-arc-agi-3/environment_files/zq01/
arc-prize-2026-arc-agi-3/environment_files/zq02/
arc-prize-2026-arc-agi-3/environment_files/zq03/
